<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="template1.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="pageContent">a
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">Enregitrement effectué</div>
            <div class="card-body">
                <div class="form-group">
                    <label>ID:</label>
                    <label th:text="${film.id}"></label>
                </div>
                <div class="form-group">
                    <label>Title:</label>
                    <label th:text="${film.titre}"></label>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <label th:text="${film.description}"></label>
                </div>
                <div class="form-group">
                    <label>Réalisateur:</label>
                    <label th:text="${film.realisateur}"></label>
                </div>
                <div class="form-group">
                    <label>Date de sortie</label>
                    <label th:text="${film.dateSortie}"></label>
                </div>
                <div class="form-group">
                    <label>Durée:</label>
                    <label th:text="${film.duree}"></label>
                </div>
                <div class="form-group">
                    <label>Catégorie</label>
                    <label th:text="${film.categorie.name}"></label>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

